<div class="container-fluid">
    <div class="container">
        <div class="row m-4" style="margin-top: 79px !important;">
            <div class="col-lg-3 col-md-3 col-sm-12">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 visibleCol">
                <h4 class="htext">More accessible</h4>
                <p class="ptext">Download our app from the Apple Store or Android store for a more accessible way of
                    booking appointments.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">

            </div>
        </div>
        <div class="row m-4" style="margin-top: 68px !important;margin-bottom: 108px !important;">
            <div class="col-lg-1 col-md-1 col-sm-12">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 visibleCol">
                <div class="imagesDiv">
                    <img src="assets/images/googlepay.png">
                    <img src="assets/images/appstore.png">
                </div>
                <p class="warnP">Warning: <span class="warnSpan">You will be navigated away from our site</span></p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12">
            </div>
        </div>
    </div>
</div>