<div class="container-fluid">
  <!-- search and map -->
  <div class="row m-4" style="margin-top: 86px !important;">
    <div class="col-lg-3 col-md-3 col-sm-12">
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="searchDiv">
        <input class="searchInp" placeholder="search"><span><img class="searchIcom"
            src="assets/Icons/search.png"></span>
        <div class="searchSelDiv">
          <div class="searchedText">Hair Cut <img src="assets/images/cross.png" style="margin-left: 10px;"></div>
          <div class="searchedText">Waxing <img src="assets/images/cross.png" style="margin-left: 10px;"></div>
          <div class="searchedText">Nails <img src="assets/images/cross.png" style="margin-left: 10px;"></div>
        </div>

      </div>
      <div class="mapDiv">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
        <span class="mapText">Map View </span>
      </div>
    </div>
  </div>
  <!-- service blocks and filters -->
  <div class="row m-4">
    <!-- filters -->
    <div class="col-lg-3 col-md-3 col-sm-12">
      <h3 class="headFilter">Fillters</h3>
      <form>
        <div class="mb-3">
          <label class="form-label" for="txtRegisterEmail">Location</label>
          <input type="text" class="form-control" id="txtRegisterEmail">
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label class="form-label" for="txtPhoneExt">Time</label>
              <input type="number" class="form-control " id="txtPhoneExt">
            </div>
            <div class="col-6 ">
              <label class="form-label" for="txtPhoneExt">Time</label>
              <input type="number" class="form-control " id="txtPhone">
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="txtRegisterEmail">Date</label>
          <input type="text" class="form-control" id="txtRegisterEmail">
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label class="form-label" for="txtPhoneExt">Price</label>
              <input type="number" class="form-control " id="txtPhoneExt">
            </div>
            <div class="col-6 ">
              <label class="form-label" for="txtPhoneExt">Time</label>
              <input type="number" class="form-control " id="txtPhone">
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="txtRegisterEmail">Salon Type</label>
          <input type="text" class="form-control" id="txtRegisterEmail">
        </div>
      </form>
    </div>
    <!-- services -->
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="block">
        <img src="assets/images/topservice1.png" style="width: 100%;">
        <!-- Service -->
        <div class="firstClick">
          <h4 class="headSer">A Cut Above</h4>
          <div class="inFirstDiv" id="headingOne">
            <img src="assets/images/app1.png" class="ratingImg">
            <img src="assets/images/app2.png" class="ratingImg">
            <img src="assets/images/app3.png" class="ratingImg">
            <img src="assets/images/app4.png" class="ratingImg">
            <span class="rating">+4</span>
            <img src="assets/Icons/marker.png" class="marker">
            <span class="locID">1.2</span>
            <img src="assets/Icons/star.png" class="star">
            <span class="starRate">5</span>
            <img class="down" src="assets/Icons/down.png">
          </div>
        </div>
        <!-- detail service -->
        <!-- class="secondClick"  -->
        <div class="secondClick">
          <button class="btn btn-primary gotoSalon">Go to salon Page</button>
          <div class="inSecondDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="inSecondDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="inSecondDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
        </div>
        <!-- booking service -->
        <div class="thirdClick">
          <div class="inthirdDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="inthirdDiv">
            <div class="colServices">
              <img src="assets/images/leftFrame.png">
              <input type="date" class="dateIn">
              <img src="assets/images/rightFrame.png">
            </div>
            <div class="bookSlotCOl">
              <div class="serviceText">
                <img class="serviceImg" src="assets/images/Frame.png">
                <div class="serviceDetail" style="margin-left: 8px;">
                  <h3 class="detailText">A cut above</h3>
                  <p class="detailText">Book With Mary Nunes</p>
                  <p class="detailText">£35</p>
                </div>
              </div>
              <p class="detailText" style="margin-top: 13px;">Select Time</p>
              <div class="timesList">
                <div class="textTime">9:30</div>
                <div class="textTime">10:30</div>
                <div class="textTime">11:30</div>
              </div>
            </div>
            <div class="bookSlotCOl">
              <div class="serviceText">
                <img class="serviceImg" src="assets/images/Frame.png">
                <div class="serviceDetail" style="margin-left: 8px;">
                  <h3 class="detailText">A cut above</h3>
                  <p class="detailText">Book With Mary Nunes</p>
                  <p class="detailText">£35</p>
                </div>
              </div>
              <p class="detailText" style="margin-top: 13px;">Select Time</p>
              <div class="timesList">
                <div class="textTime">9:30</div>
                <div class="textTime">10:30</div>
                <div class="textTime">11:30</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Cart -->
        <div class="fourthClick">
          <h4 class="confirmBook">Confirm Booking</h4>
          <div class="cart">
            <p class="cartText">Service: The Wolf Cut </p>
            <p class="cartText">With: Elizabeth Smith</p>
            <p class="cartText">Time: 11.00am- 12-00pm</p>
            <p class="cartText" style="margin-bottom: 20px;">Price: £20</p>
            <button class="btn btn-primary removeBTN">Remove</button>
          </div>
          <div class="cart">
            <p class="cartText">Service: The Wolf Cut </p>
            <p class="cartText">With: Elizabeth Smith</p>
            <p class="cartText">Time: 11.00am- 12-00pm</p>
            <p class="cartText" style="margin-bottom: 20px;">Price: £20</p>
            <button class="btn btn-primary removeBTN">Remove</button>
          </div>
          <button class="btn btn-primary priceBTN">
            <img src="assets/images/cart.png">£40</button>
          <button class="btn btn-primary removeBTN">Show less</button>
          <div class="cart">
            <h5 class="interest">Interest in these extra services</h5>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <img src="assets/images/topservice1.png" style="width: 100%;">
        <!-- Service -->
        <div class="firstClick">
          <h4 class="headSer">A Cut Above</h4>
          <div class="inFirstDiv">
            <img src="assets/images/app1.png" class="ratingImg">
            <img src="assets/images/app2.png" class="ratingImg">
            <img src="assets/images/app3.png" class="ratingImg">
            <img src="assets/images/app4.png" class="ratingImg">
            <span class="rating">+4</span>
            <img src="assets/Icons/marker.png" class="marker">
            <span class="locID">1.2</span>
            <img src="assets/Icons/star.png" class="star">
            <span class="starRate">5</span>
            <img src="assets/Icons/down.png" class="down">
          </div>
        </div>
        <!-- detail service -->
        <div class="secondClick">
          <button class="btn btn-primary gotoSalon">Go to salon Page</button>
          <div class="inSecondDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="inSecondDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="inSecondDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
        </div>
        <!-- booking service -->
        <div class="thirdClick">
          <div class="inthirdDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="inthirdDiv">
            <div class="colServices">
              <img src="assets/images/leftFrame.png">
              <input type="date" class="dateIn">
              <img src="assets/images/rightFrame.png">
            </div>
            <div class="bookSlotCOl">
              <div class="serviceText">
                <img class="serviceImg" src="assets/images/Frame.png">
                <div class="serviceDetail" style="margin-left: 8px;">
                  <h3 class="detailText">A cut above</h3>
                  <p class="detailText">Book With Mary Nunes</p>
                  <p class="detailText">£35</p>
                </div>
              </div>
              <p class="detailText" style="margin-top: 13px;">Select Time</p>
              <div class="timesList">
                <div class="textTime">9:30</div>
                <div class="textTime">10:30</div>
                <div class="textTime">11:30</div>
              </div>
            </div>
            <div class="bookSlotCOl">
              <div class="serviceText">
                <img class="serviceImg" src="assets/images/Frame.png">
                <div class="serviceDetail" style="margin-left: 8px;">
                  <h3 class="detailText">A cut above</h3>
                  <p class="detailText">Book With Mary Nunes</p>
                  <p class="detailText">£35</p>
                </div>
              </div>
              <p class="detailText" style="margin-top: 13px;">Select Time</p>
              <div class="timesList">
                <div class="textTime">9:30</div>
                <div class="textTime">10:30</div>
                <div class="textTime">11:30</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Cart -->
        <div class="fourthClick">
          <h4 class="confirmBook">Confirm Booking</h4>
          <div class="cart">
            <p class="cartText">Service: The Wolf Cut </p>
            <p class="cartText">With: Elizabeth Smith</p>
            <p class="cartText">Time: 11.00am- 12-00pm</p>
            <p class="cartText" style="margin-bottom: 20px;">Price: £20</p>
            <button class="btn btn-primary removeBTN">Remove</button>
          </div>
          <div class="cart">
            <p class="cartText">Service: The Wolf Cut </p>
            <p class="cartText">With: Elizabeth Smith</p>
            <p class="cartText">Time: 11.00am- 12-00pm</p>
            <p class="cartText" style="margin-bottom: 20px;">Price: £20</p>
            <button class="btn btn-primary removeBTN">Remove</button>
          </div>
          <button class="btn btn-primary priceBTN">
            <img src="assets/images/cart.png">£40</button>
          <button class="btn btn-primary removeBTN">Show less</button>
          <div class="cart">
            <h5 class="interest">Interest in these extra services</h5>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <img src="assets/images/topservice1.png" style="width: 100%;">
        <!-- Service -->
        <div class="firstClick">
          <h4 class="headSer">A Cut Above</h4>
          <div class="inFirstDiv">
            <img src="assets/images/app1.png" class="ratingImg">
            <img src="assets/images/app2.png" class="ratingImg">
            <img src="assets/images/app3.png" class="ratingImg">
            <img src="assets/images/app4.png" class="ratingImg">
            <span class="rating">+4</span>
            <img src="assets/Icons/marker.png" class="marker">
            <span class="locID">1.2</span>
            <img src="assets/Icons/star.png" class="star">
            <span class="starRate">5</span>
            <img src="assets/Icons/down.png" class="down">
          </div>
        </div>
        <!-- detail service -->
        <div class="secondClick">
          <button class="btn btn-primary gotoSalon">Go to salon Page</button>
          <div class="inSecondDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="inSecondDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="inSecondDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
        </div>
        <!-- booking service -->
        <div class="thirdClick">
          <div class="inthirdDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="inthirdDiv">
            <div class="colServices">
              <img src="assets/images/leftFrame.png">
              <input type="date" class="dateIn">
              <img src="assets/images/rightFrame.png">
            </div>
            <div class="bookSlotCOl">
              <div class="serviceText">
                <img class="serviceImg" src="assets/images/Frame.png">
                <div class="serviceDetail" style="margin-left: 8px;">
                  <h3 class="detailText">A cut above</h3>
                  <p class="detailText">Book With Mary Nunes</p>
                  <p class="detailText">£35</p>
                </div>
              </div>
              <p class="detailText" style="margin-top: 13px;">Select Time</p>
              <div class="timesList">
                <div class="textTime">9:30</div>
                <div class="textTime">10:30</div>
                <div class="textTime">11:30</div>
              </div>
            </div>
            <div class="bookSlotCOl">
              <div class="serviceText">
                <img class="serviceImg" src="assets/images/Frame.png">
                <div class="serviceDetail" style="margin-left: 8px;">
                  <h3 class="detailText">A cut above</h3>
                  <p class="detailText">Book With Mary Nunes</p>
                  <p class="detailText">£35</p>
                </div>
              </div>
              <p class="detailText" style="margin-top: 13px;">Select Time</p>
              <div class="timesList">
                <div class="textTime">9:30</div>
                <div class="textTime">10:30</div>
                <div class="textTime">11:30</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Cart -->
        <div class="fourthClick">
          <h4 class="confirmBook">Confirm Booking</h4>
          <div class="cart">
            <p class="cartText">Service: The Wolf Cut </p>
            <p class="cartText">With: Elizabeth Smith</p>
            <p class="cartText">Time: 11.00am- 12-00pm</p>
            <p class="cartText" style="margin-bottom: 20px;">Price: £20</p>
            <button class="btn btn-primary removeBTN">Remove</button>
          </div>
          <div class="cart">
            <p class="cartText">Service: The Wolf Cut </p>
            <p class="cartText">With: Elizabeth Smith</p>
            <p class="cartText">Time: 11.00am- 12-00pm</p>
            <p class="cartText" style="margin-bottom: 20px;">Price: £20</p>
            <button class="btn btn-primary removeBTN">Remove</button>
          </div>
          <button class="btn btn-primary priceBTN">
            <img src="assets/images/cart.png">£40</button>
          <button class="btn btn-primary removeBTN">Show less</button>
          <div class="cart">
            <h5 class="interest">Interest in these extra services</h5>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <img src="assets/images/topservice1.png" style="width: 100%;">
        <!-- Service -->
        <div class="firstClick">
          <h4 class="headSer">A Cut Above</h4>
          <div class="inFirstDiv">
            <img src="assets/images/app1.png" class="ratingImg">
            <img src="assets/images/app2.png" class="ratingImg">
            <img src="assets/images/app3.png" class="ratingImg">
            <img src="assets/images/app4.png" class="ratingImg">
            <span class="rating">+4</span>
            <img src="assets/Icons/marker.png" class="marker">
            <span class="locID">1.2</span>
            <img src="assets/Icons/star.png" class="star">
            <span class="starRate">5</span>
            <img src="assets/Icons/down.png" class="down">
          </div>
        </div>
        <!-- detail service -->
        <div class="secondClick">
          <button class="btn btn-primary gotoSalon">Go to salon Page</button>
          <div class="inSecondDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="inSecondDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="inSecondDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
        </div>
        <!-- booking service -->
        <div class="thirdClick">
          <div class="inthirdDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="inthirdDiv">
            <div class="colServices">
              <img src="assets/images/leftFrame.png">
              <input type="date" class="dateIn">
              <img src="assets/images/rightFrame.png">
            </div>
            <div class="bookSlotCOl">
              <div class="serviceText">
                <img class="serviceImg" src="assets/images/Frame.png">
                <div class="serviceDetail" style="margin-left: 8px;">
                  <h3 class="detailText">A cut above</h3>
                  <p class="detailText">Book With Mary Nunes</p>
                  <p class="detailText">£35</p>
                </div>
              </div>
              <p class="detailText" style="margin-top: 13px;">Select Time</p>
              <div class="timesList">
                <div class="textTime">9:30</div>
                <div class="textTime">10:30</div>
                <div class="textTime">11:30</div>
              </div>
            </div>
            <div class="bookSlotCOl">
              <div class="serviceText">
                <img class="serviceImg" src="assets/images/Frame.png">
                <div class="serviceDetail" style="margin-left: 8px;">
                  <h3 class="detailText">A cut above</h3>
                  <p class="detailText">Book With Mary Nunes</p>
                  <p class="detailText">£35</p>
                </div>
              </div>
              <p class="detailText" style="margin-top: 13px;">Select Time</p>
              <div class="timesList">
                <div class="textTime">9:30</div>
                <div class="textTime">10:30</div>
                <div class="textTime">11:30</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Cart -->
        <div class="fourthClick">
          <h4 class="confirmBook">Confirm Booking</h4>
          <div class="cart">
            <p class="cartText">Service: The Wolf Cut </p>
            <p class="cartText">With: Elizabeth Smith</p>
            <p class="cartText">Time: 11.00am- 12-00pm</p>
            <p class="cartText" style="margin-bottom: 20px;">Price: £20</p>
            <button class="btn btn-primary removeBTN">Remove</button>
          </div>
          <div class="cart">
            <p class="cartText">Service: The Wolf Cut </p>
            <p class="cartText">With: Elizabeth Smith</p>
            <p class="cartText">Time: 11.00am- 12-00pm</p>
            <p class="cartText" style="margin-bottom: 20px;">Price: £20</p>
            <button class="btn btn-primary removeBTN">Remove</button>
          </div>
          <button class="btn btn-primary priceBTN">
            <img src="assets/images/cart.png">£40</button>
          <button class="btn btn-primary removeBTN">Show less</button>
          <div class="cart">
            <h5 class="interest">Interest in these extra services</h5>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
          <div class="infourthDiv colServices">
            <div class="serviceText">
              <img class="serviceImg" src="assets/images/hairService.png">
              <div class="serviceDetail">
                <h3 class="serviceH">Hair service</h3>
                <p class="serviceP">Wash & blow</p>
                <p class="timeP">40 Min</p>
              </div>
            </div>
            <div class="priceDiv">
              <p class="priceP">£15</p>
              <img class="dropDownArrow" src="assets/Icons/right.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>