button.btn.btn-primary.loginbtnCom {
  width: 40%;
  margin-top: 38px;
}
h3.headTextCom {
  margin-bottom: 38px;
}
.form-label {
  color: #000000 !important;
  font-size: 20px;
  line-height: 16px !important;
}