.has-search .form-control {
  padding-left: 2.375rem;
  background: #EFE9E9;
  border-radius: 4px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;

}


.searchSelection {
  padding: 4px;
  margin: 4px;
  border: 1px solid black;
  width: 20%;
}


li.borderless {
  margin-top: 15px;
  border: 0 none;
}

.time-select {
  width: 41.5%;
  margin-right: 4%;
}

.location-select {
  width: 87%;
}

.date-select {
  width: 27.5%;
  margin-right: 2%;
}


