<div class="container">
    <h3 class="headtext">Home - T&C</h3>
    <p class="textP">When was the last time you reviewed your T&C? T&C are typically the basis of a binding contract
        between you and
        the user. Those contractual terms are vital to your company.<br><br>

        You need to be able to prove that the user has taken an active step to agree to your T&C. In today’s online
        world, this is usually actioned by a Click Agreement through which the user has to scroll and then click
        acceptance.<br><br>

        A website owner will rely on its T&C to limit its potential liabilities and set out the rights and obligations
        of
        the user/customer.<br><br>

        What should T&C include?<br><br>

        Information about the company<br><br>

        This is required by the E-Commerce Regulations, the Companies (Trading Disclosures) Regulations 2008 and the
        Companies Regulations 2006. This will include providing your registered office address, contact details, company
        registration number if registered in UK and VAT number if applicable.<br><br>

        Website terms of use<br><br>

        The T&C should set out what use of the site may be made. This allows the website owner to specify that certain
        parts
        of the site may not be suitable for certain visitors, primarily on account of their age or the jurisdiction from
        which they are accessing the site and will set out any restriction on the suitability of use of the
        content.<br><br>

        Uploading material to the site<br><br>

        Intellectual property<br><br>

        Does your website provide any social media-type activities? If so, are you protecting yourself in the event the
        user
        posts something which infringes a third party’s intellectual property rights? If you intend to re-use comments
        made
        by visitors to your site, that should be authorised in the T&C.<br><br>

        Defamation<br><br>

        You may also become liable where material uploaded by the user to your website is defamatory.<br><br>

        You may wish to include warranties and an indemnity (please see liability below) in your T&C to seek to protect
        yourself from liability in either of the two scenarios described above.<br><br>

        Website content<br><br>

        The T&C should allow the owner to update or remove content published on the website, and confirm that the owner
        is
        under no obligation to keep the information on the website up to date. This is important if a user might place
        reliance on information on the website.<br><br>

        Liability<br><br>

        The T&C should protect the owner against liability for any loss or damage arising from the use of the website.
        The
        ability to impose such limitations effectively will be limited by the Unfair Contract Terms Act 1977 and
        associated
        legislation. It may make sense to require that users indemnify the owner for claims made by third parties
        resulting
        from the actions of the user.<br><br>

        Information about the user and its visits to the site<br><br>

        The owner must comply with the provisions of the Data Protection Act 1998 (DPA) and the Privacy and Electronic
        Communications (EC Directive) Regulations 2003. It should be very clear what personal data is being collected
        and
        what use the website owner intends to make of that data for analytical, marketing or other purposes. This will
        normally be included as part of a separate privacy policy on the site. The privacy policy would typically also
        be
        the appropriate place to deal with the new “cookies” legislation – [link to cookie piece]<br><br>

        Transactions concluded through the site<br><br>

        It should be clear that any supply of goods or services will be governed by a separate specific contract between
        the
        website owner and the customer. That separate contract must be carefully drafted and properly incorporated into
        the
        website.<br><br>

        What could the consequences be of not having T&C?<br><br>

        Not having T&C would leave website owners vulnerable in many ways, as described above. Owners need to avoid
        “borrowing” T&C from other websites. That, as you probably know, would be a breach of copyright.<br><br>

        Conclusion<br><br>

        By tailoring your T&C, you can minimize risks to your business and, in the event of litigation, may be able to
        invoke a valid defence. Your T&C should be reviewed whenever you offer new services, products and promotions or
        relevant new legislation comes into force.</p>
</div>