<div class="container">
  <div class="row m-4">
    <div class="col-lg-5 col-md-5 col-sm-12 ">
      <h3 class="headText">Login</h3>
      <div class="container shadow p-3 mb-3 bg-white rounded">
        <form [formGroup]="loginForm">
          <div class="mb-3">
            <label class="form-label" for="txtEmail">Email address</label>
            <input type="text" class="form-control" id="txtEmail" formControlName="email">
          </div>
          <div class="mb-3">
            <label class="form-label" for="txtPassword">Password </label>
            <div class="input-group">
              <input type="password" class="form-control" id="txtPassword" formControlName="password">
            </div>
          </div>
          <div class="mb-3 forgotText">
            <label class="form-label" routerLink="/forgot-password">Forgoton Password</label>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary loginbtn" (click)="login()">Login</button>
          </div>
        </form>
        <p class="text">Don’t have an account <span style="color: #004FCB;">Sign up</span></p>
        <p class="text" style="color: #000000;">Register later</p>
      </div>

    </div>
    <div class="col-lg-1 col-md-1 col-sm-12  p-lg-3 m-lg-4">
      <div class="line-h"><span class="line-h-span ">Or</span></div>
      <div class="wrapper">
        <div class="line"></div>
        <div class="wordwrapper">
          <div class="word">Or</div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12">
      <h3 class="headText">Register</h3>
      <div class="container shadow p-3 mb-3 bg-white rounded">
        <form [formGroup]="registrationForm">
          <div class="mb-3">
            <label class="form-label" for="txtRegisterEmail">Email</label>
            <input type="text" class="form-control" id="txtRegisterEmail" formControlName="email">
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-4">
                <label class="form-label" for="txtPhoneExt">Area code</label>
                <input type="number" class="form-control " id="txtPhoneExt" formControlName="areaCode">
              </div>
              <div class="col-8 ">
                <label class="form-label" for="txtPhoneExt">Phone Number</label>
                <input type="number" class="form-control " id="txtPhone" formControlName="phone">
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col-6 ">
                <label class="form-label" for="passwordInput">Password</label>
                <input type="password" class="form-control " id="passwordInput" formControlName="password">
                <span><img class="eyeIconImg" id="passStatus" src="assets/Icons/closeEye.png"
                    (click)="viewPassword('password')"></span>
              </div>
              <div class="col-6">
                <label class="form-label" for="repeatPassword">Repeat Password</label>
                <input type="password" class="form-control " id="repeatPassword" formControlName="repeatPassword">
                <span><img class="eyeIconImg" id="repeatPassStatus" src="assets/Icons/closeEye.png"
                    (click)="viewPassword('repeatPassword')"></span>
              </div>
            </div>
          </div>
          <div class="mb-3 forgotText">
            <label class="form-label">Need Help?</label>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary loginbtn" (click)="register()">Register</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>