.shadow {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.shadow-review {
  background: #FFFFFF;
  box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.app-received {
  margin-left: -5px;
}

.marker {
  margin-left: 20px;
  height: 25px;
}

.star {
  margin-left: 20px;
  height: 25px;
}

.h4 {
  /* H4 */
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height, or 167% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.25px;
  /* white text */
  color: #312F2F;
}

.h5 {
  font-size: 18px !important;
}

.down {
  margin-left: 25px;
}
li.borderless {
  border: 0 none;
}

.sub-shadow {
  background: #FFFFFF;
  box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}


.middle {
  position: absolute;
  top: 20%;
}
.time-select{
  background: #FFFFFF;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}
.selected {
  background: #6362B0;
  color: #FFFFFF !important;
}
.bold {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  /* Dark Text */

  color: #312F2F;
}

.confirmation {
  background: #FFFFFF;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.confirmation-border {
  border-radius: 20px;
  border-width: 10px 0 0 0;
  border-color: #63AF7D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
