<div class="card shadow">
  <div class="card-body d-flex aligns-items-center justify-content-center">
    <img src="./assets/images/placeholder.png">
  </div>
  <div class="card mx-4 my-2">
    <div class="card-body pt-0 pb-0 shadow-review">
      <span class="h4">A Cut Above</span>
      <div class="my-2">
        <img src="./assets/images/app1.png" class="app-received">
        <img src="./assets/images/app2.png" class="app-received">
        <img src="./assets/images/app3.png" class="app-received">
        <img src="./assets/images/app4.png" class="app-received">
        <span class="h5">+4</span>
        <img src="./assets/Icons/marker.png" class="marker">
        <span class="h5 px-2 py-2">1.2</span>
        <img src="./assets/Icons/star.png" class="star">
        <span class="h5 px-2 py-2">5</span>
        <img [src]="showDetails === false ? './assets/Icons/down.png' : './assets/Icons/up.png'"
             (click)="showDetails = !showDetails" class="down" data-toggle="collapse"
             href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      </div>

    </div>
  </div>
  <div class="collapse" id="collapseExample" [ngClass]="{'show' : showDetails === true, '': showDetails === false}">
    <div class="card card-body border-0">
      <div class="row">
        <div class="col-8">
          <div class="h5 align-self-start">Over view</div>
        </div>
        <div class="col-4 align-content-end">
          <button class="btn btn-primary">View Salon</button>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item borderless">
          <div class="card mt-3 sub-shadow">
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <span class="h4">Cute Pixie Cut</span>
                </div>
                <div class="col-4 mt-2">
                  <img src="./assets/images/app1.png" class="app-received">
                  <img src="./assets/images/app2.png" class="app-received">
                </div>

              </div>
              <div class="row">
                <div class="col-4">
                  <span class="h5">€20</span>
                </div>
                <div class="col-6">
                  <span class="h5">1hour</span>
                </div>
                <div class="col-2 align-content-end">
                  <img [src]="showCalender === false ? './assets/Icons/down.png' : './assets/Icons/up.png'"
                       (click)="showCalender = !showCalender" data-toggle="collapse"
                       href="#showCalender" role="button" aria-expanded="false" aria-controls="showCalender">
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="showCalender"
               [ngClass]="{'show' : showCalender === true, '': showCalender === false}">
            <div class="card mt-3 sub-shadow" *ngIf="showBookingList==true">
              <div class="card-body">
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-1"><img src="./assets/Icons/left_arrow.png"></div>
                  <div class="col-6 bold justify-content-center ">16/02/2022</div>
                  <div class="col-1"><img src="./assets/Icons/right_arrow.png"></div>
                  <div class="col-2"></div>
                </div>
                <ul class="list-group">
                  <li class="list-group-item borderless">
                    <div class="row mt-2">
                      <div class="col-2"><img src="./assets/images/Avatar.png" class="middle"></div>
                      <div class="col-8">
                        <ul class="list-group">
                          <li class="list-inline-item h4 borderless">The wolf Cut</li>
                          <li class="list-inline-item h5 borderless">1 hour</li>
                          <li class="list-inline-item form-label text-start borderless">By Mary Nunes</li>
                        </ul>
                      </div>
                      <div class="col-2 align-middle">
                        <span class="middle">€20</span>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-12 "><span class="label">Select time</span></div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-3">
                        <div class="time-select bold justify-content-center">9.30</div>
                      </div>
                      <div class="col-3">
                        <div class="time-select bold justify-content-center">10.30</div>
                      </div>
                      <div class="col-3">
                        <div class="time-select bold justify-content-center">11.30</div>
                      </div>
                      <div class="col-3">
                        <div class="time-select bold justify-content-center">15.30</div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-3">
                        <div class="time-select bold justify-content-center">14.30</div>
                      </div>
                      <div class="col-3">
                        <div class="time-select bold justify-content-center">14.30</div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item borderless">
                    <div class="row mt-2">
                      <div class="col-2"><img src="./assets/images/avatar1.png" class="middle"></div>
                      <div class="col-8">
                        <ul class="list-group">
                          <li class="list-inline-item h4 borderless">The wolf Cut</li>
                          <li class="list-inline-item h5 borderless">1 hour</li>
                          <li class="list-inline-item form-label text-start borderless">By Ian March</li>
                        </ul>
                      </div>
                      <div class="col-2 align-middle">
                        <span class="middle">€20</span>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-12 "><span class="label">Select time</span></div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-3">
                        <div class="time-select bold justify-content-center">9.30</div>
                      </div>
                      <div class="col-3">
                        <div class="time-select bold justify-content-center selected">10.30</div>
                      </div>
                      <div class="col-3">
                        <div class="time-select bold justify-content-center">11.30</div>
                      </div>
                      <div class="col-3">
                        <div class="time-select bold justify-content-center">15.30</div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-3">
                        <div class="time-select bold justify-content-center">14.30</div>
                      </div>
                      <div class="col-3">
                        <div class="time-select bold justify-content-center">14.30</div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="row mt-3">
                  <div class="col-12  text-center">
                    <button class="transparent-button" (click)="showBookingList=false">Book Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3 sub-shadow" *ngIf="showBookingList==false">
              <div class="row mt-3">
                <div class="col-12  text-center">
                  <span class="h3">Confirm Booking</span>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12  text-center">
                  <span class="h5">Date 21/2/2022</span>
                </div>
              </div>
              <div class="row my-3">
                <div class="col-1"></div>
                <div class="col-10  text-start ">
                  <div class="confirmation confirmation-border">
                  <ul class="list-group">
                      <li class="list-group-item borderless">
                        Service: The Wolf Cut
                      </li>
                    <li class="list-group-item borderless">
                      With Elizabeth Smith
                    </li>
                    <li class="list-group-item borderless">
                      Time: 11.00am- 12-00pm
                    </li>
                    <li class="list-group-item borderless">
                      Price €20
                    </li>
                  </ul>
                  </div>
                </div>
                <div class="col-1"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item borderless">
          <div class="card mt-3 sub-shadow">
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <span class="h4">Cute Pixie Cut</span>
                </div>
                <div class="col-4 mt-2">
                  <img src="./assets/images/app1.png" class="app-received">
                  <img src="./assets/images/app2.png" class="app-received">
                </div>

              </div>
              <div class="row">
                <div class="col-4">
                  <span class="h5">€20</span>
                </div>
                <div class="col-6">
                  <span class="h5">1hour</span>
                </div>
                <div class="col-2 align-content-end">
                  <img src="./assets/Icons/down.png">
                </div>
              </div>

            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
