.shadow {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.box-shadow {
  background: #FFFFFF;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), 1px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 40px;
}

.box-size {
  width: 40px;
  height: 40px;
}

.shadow-review {
  background: #FFFFFF;
  box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.app-received {
  margin-left: -5px;
  height: 31px;
  width: 31px;
}

.marker {
  margin-left: 20px;
}

.star {
  margin-left: 20px;
  height: 25px;
}

.h4 {
  /* H4 */
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height, or 167% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.25px;
  /* white text */
  color: #312F2F;
}

.down {
  margin-left: 25px;
}

li.borderless {
  margin-top: 20px;
  border: 0 none;
}

.sub-shadow {
  background: #FFFFFF;
  box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}


.middle {
  position: absolute;
  top: 20%;
}

.time-select {
  background: #FFFFFF;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

.selected {
  background: #6362B0;
  color: #FFFFFF !important;
}

//.bold {
//  font-family: 'Lato';
//  font-style: normal;
//  font-weight: 700;
//  font-size: 16px;
//  line-height: 24px;
//  /* identical to box height, or 150% */
//
//
//  /* Dark Text */
//
//  color: #312F2F;
//}

.confirmation {
  background: #FFFFFF;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.confirmation-border {
  border-radius: 20px;
  border-width: 10px 0 0 0;
  border-color: #63AF7D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.padding-left {
  padding-left: 20%;
}

.overview {
  padding-left: 25px;
}

.card {
  border: 0px !important;
}

.h3 {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 36px !important;
  line-height: 50px !important;
  /* identical to box height, or 139% */

  //display: flex !important;
  //align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.25px !important;

  /* Dark Text */

  color: #312F2F !important;
}

.text-display {
  /* H5 */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height, or 167% */
  letter-spacing: -0.25px;

  /* white text */

  color: #312F2F;
}

