<div class="container">
  <div class="row m-4">
    <div class="col-lg-6 col-md-6 col-sm-12 ">
      <img src="assets/images/homeImage.png" class="img-fluid rounded-circle">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2 class="text-center text-wrap mt-5 pt-5">Your Next Appointment Is A Simple Search Away</h2>
      <div class="searchBox row">
        <div class="col-3">
          <img src="assets/Icons/search.png" class="p-3 img-fluid">
        </div>
        <div class="col-6">
          <input type="text" placeholder="Search" class="p-3 w-100 border-0 shadow-none">
        </div>
        <div class="col-3">
          <button class="btn-primary searchButton  mt-3">Search</button>
        </div>
      </div>
      <div class="m-2 header ">
        <ul class="list-group list-group-horizontal w-100 p-0">
          <li class="list-group-item border-0 w-100 p-0">Mens hair cut</li>
          <li class="list-group-item border-0 w-100 p-0">Woman eyes</li>
          <li class="list-group-item border-0 w-100 p-0">Women dye</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row m-4">
    <div class="col-lg-6 col-md-6 col-sm-12 ">
      <h2 class="mt-5 pt-5">Manage your Business</h2>
      <hr class="line w-75">
      <p class="mt-5 pt-5">The booking form is designed with your business needs in mind. Take bookings when you're
        salon is closed. Don’t
        miss the next appointment from customers looking to book in your area</p>
      <button class="btn btn-primary rounded-pill mt-5">Read More</button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 ">
      <img src="assets/images/Tablet-calander%202.png" class="img-fluid">
    </div>
  </div>
  <div class="row m-4 booking">
    <div class="col-lg-12 col-md-12 d-flex">
      <ul class="w-100  list-group text-center">
        <li class="list-group-item border-0">
          <span class="h4">Stay up to date with your bookings</span>
        </li>
        <li class="list-group-item border-0 "><span class="h2">Download Our App</span></li>
        <li class="list-group-item border-0 bold"><span>Book on the go</span></li>
        <li class="list-group-item border-0 bold"><span>Notifications</span></li>
        <li class="list-group-item border-0 bold"><span>Check your Booking</span></li>
        <li class="list-group-item border-0 bold"><span>Many more benafits</span></li>
        <li class="list-group-item border-0 my-4">
          <button class="btn btn-primary rounded-pill">Download app</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-4 mx-4 ">
    <div class="col-lg-4 col-md-6 col-sm-12 my-2 border-first-middle justify-content-lg-center text-center">
      <span class="h3">
        Schedule Appointments
      </span>
      <p>Booking is a clean, simple tool with powerful calendar
        scheduling features that can handle all your salon
        appointment bookings. </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 my-2 border-first-middle justify-content-lg-center text-center">
      <span class="h3">
        Manage your clients
      </span>
      <p>Maintain client relationships with advanced salon
        software management features with detailed
        client appointments history, booking preferences,
        future bookings</p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 my-2 border-last justify-content-lg-center text-center">
      <span class="h3">
        Online Bookings
      </span>
      <p>Supercharge your appointment bookings by allowing
        customers to book appointments online through
        your own website, </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 my-2 border-right justify-content-lg-center text-center">
      <span class="h3">
        Search Salons
      </span>
      <p>Search salons by Time, Date, Reviews, Location,
        Price, and Service . Find your perfect salon today </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 my-2 border-right justify-content-lg-center text-center">
      <span class="h3">
        Book Appointments
      </span>
      <p>Find it hard to book appoints at a salon because
        you are at work. We make it easy for you to
        book anointment 24/7</p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 my-2 border-last-item justify-content-lg-center text-center">
      <span class="h3">
        Free
      </span>
      <p>all our services are free for users</p>
    </div>
  </div>

  <div class="row m-4 p-4">
    <div class="col-lg-12 col-md-12 col-sm-12 justify-content-lg-center text-center">
      <button class="btn btn-primary rounded-pill">Manage Your Business</button>
    </div>
  </div>
</div>
