.searchBox {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

}

.searchBox input {
  margin-right: 2px;
}

.searchBox input:focus-visible {
  outline: none;
}

.searchButton {
  background: #6750A4;
  border-radius: 10px;
  padding: 4px;
  width: 80px;
  margin-top: 2px;
  margin-right: 4px;
  margin-bottom: 2px;
  border-width: 0px;
}

hr.line {
  border: 1px solid black;
  height: 4px;
  background-color: black;
  border-radius: 5px;
}

.border-first-middle {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.border-last {
  border-bottom: 1px solid black;
}

.border-right {
  border-right: 1px solid black;
}

h3 {
  text-align: center !important;
}

.booking {
  display: block;
}

.border-last-item {
  border: 0px solid black;
}

@media (max-width: 992px) {
  .booking {
    display: none;
  }
  .border-first-middle {
    border: 1px solid black;
  }
  .border-last {
    border: 1px solid black;
  }
  .border-right {
    border: 1px solid black;

  }
  .border-last-item {
    border: 1px solid black;

  }
  .searchButton {
    width: unset;
  }
}
