<div class="container-fluid firstContainer">
  <div class="container">
    <div class="row m-4 row firstRow">
      <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3">
        <img class="colImgTwo" src="assets/images/homeImg.png">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3 fourthCol">
        <h1 class="colTextHeadTwo">Your Next Appointment Is A Simple Search Away</h1>
        <input class="searchInp" placeholder="search"><span><img class="searchIcom"
            src="assets/Icons/search.png"></span>
        <button class="btn btn-primary Search">Search</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid secondContainer">
  <div class="container">
    <div class="row m-4 row">
      <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3 firstCol">
        <h1 class="colTextHead">Manage your Business </h1>
        <p class="colText">The booking form is designed with your business needs in mind. Take bookings when you're
          salon is closed. Don’t miss the next appiontment from customers looking to book in your area
        </p>
        <button class="btn btn-primary Register">Read More</button>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3">
        <img class="colImg" src="assets/images/TabletCalander.png">
      </div>
    </div>
    <div class="row m-4 row">
      <div class="col-lg-3 col-md-3 col-sm-12 p-3 mb-3 ">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3 bookingCOl">
        <p class="designTempP">Stay up to date with your bookings </p>
        <h2 class="designTempHead">Download Our App</h2>
        <ul style="list-style: none;padding-left: 0px;">
          <li class="listText">Download app </li>
          <li class="listText">Notifications </li>
          <li class="listText">Check your Booking</li>
          <li class="listText">Many more benafits</li>
        </ul>
        <div class="col-lg-3 col-md-3 col-sm-12 p-3 mb-3 ">
        </div>
        <button class="btn btn-primary createAcc">Download app </button>
      </div>
    </div>
    <div class="row m-4 row" style="margin-top: 82px !important;">
      <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol"
        style="border-right: 1px solid;border-bottom: 1px solid;">
        <h2 class="topServicehead">Schedule Appointments</h2>
        <p class="topServicePara">Booking is a clean, simple tool with powerful calendar scheduling features
          that
          can handle all your salon appointment bookings. </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol"
        style="border-right: 1px solid;border-bottom: 1px solid;">
        <h2 class="topServicehead">Manage your Clients</h2>
        <p class="topServicePara">Maintain client relationships with advanced salon software management features
          with detailed client appointments history, booking preferences,
          future bookings</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol" style="border-bottom: 1px solid;">
        <h2 class="topServicehead">Online Bookings</h2>
        <p class="topServicePara">Supercharge your appointment bookings by allowing customers to book appointments
          online through your own website,</p>
      </div>
    </div>
    <div class="row m-4 row" style="margin-top: -4% !important;">
      <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol" style="border-right: 1px solid;">
        <h2 class="topServicehead">Search Salons</h2>
        <p class="topServicePara">Search salons by Time, Date, Reviews, Location, Price, and Service . Find your perfect
          salon today
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol" style="border-right: 1px solid;">
        <h2 class="topServicehead">Book Appiontments</h2>
        <p class="topServicePara">Find it hard to book appoints at a salon because you are at work. We make it easy for
          you to book anpointment 24/7</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol">
        <h2 class="topServicehead">Free</h2>
        <p class="topServicePara">all our services are free for users </p>
      </div>
    </div>
    <div class="row m-4 row rowBtn">
      <button class="btn btn-primary mangeBuis">Manage Your Business</button>
    </div>
  </div>
</div>