<!-- Heading Texts -->
<div class="container topContainer">
    <h1 class="headTextLine">Our Story</h1>
</div>
<div class="container secondContainer">
    <p class="upperText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit aenean sem aliquam lectus sed. Pharetra sit
        ultrices porttitor laoreet diam tellus erat eros. Turpis lacus, vel tristique sed ut odio arcu quam.
        Sollicitudin eu neque purus facilisis convallis. Fames velit ut eu molestie feugiat. Sed commodo aliquet rhoncus
        tellus. Pulvinar nec non massa urna cursus tempor. Feugiat venenatis nisl feugiat nullam aliquet. Gravida nec
        adipiscing malesuada adipiscing eget et. Ultrices volutpat nec id et mauris, ultricies amet in. Ut id nunc sit
        sollicitudin magna. Platea fringilla volutpat, sed
    </p>
    <img class="upperImg" src="assets/images/aboutMainImg.png">
    <div class="row m-4 row">
        <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3 column">
            <img class="colImg" src="assets/images/aboutMainImg.png">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3 column" style="padding-left: 37px !important;">
            <h1 class="colTextHead">Building The Booking Form</h1>
            <p class="colText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit aenean sem aliquam lectus
                sed. Pharetra sit ultrices porttitor laoreet diam tellus erat eros. Turpis lacus, vel tristique sed ut
                odio arcu quam. Sollicitudin eu neque purus facilisis convallis. Fames velit ut eu molestie feugiat. Sed
                commodo aliquet rhoncus tellus. Pulvinar nec non massa urna cursus tempor. Feugiat venenatis nisl
                feugiat nullam aliquet. Gravida nec adipiscing
            </p>
        </div>
    </div>
</div>