<div class="container-fluid firstContainer">
    <div class="container">
        <div class="row m-4 row">
            <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3 firstCol">
                <h1 class="colTextHead">SearchIng For your Next Salon Has Never Been Easier</h1>
                <p class="colText">Register as a user to search a vast library of salons
                </p>
                <button class="btn btn-primary Register" routerLink="/login">Register</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3">
                <img class="colImg" src="assets/images/TabletMockup.png">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid secondContainer">
    <div class="container">
        <div class="row m-4 row">
            <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3">
                <img class="colImgTwo" src="assets/images/mobileMockup.png">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3 fourthCol">
                <h1 class="colTextHeadTwo">Your Next Appointment Is A Simple Search Away</h1>
                <input class="searchInp" placeholder="search"><span><img class="searchIcom"
                        src="assets/Icons/search.png"></span>
                <button class="btn btn-primary Search">Search</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid thirdContainer">
    <div class="container">
        <div class="row m-4 row">
            <h2>Top services</h2>
            <div class="col-lg-3 col-md-3 col-sm-12 p-3 mb-3">
                <div class="card" style="width: 256px;">
                    <img class="card-img-top" src="assets/images/topservice1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Service</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-3 mb-3">
                <div class="card" style="width: 256px;">
                    <img class="card-img-top" src="assets/images/topservice2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Service</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-3 mb-3">
                <div class="card" style="width: 256px;">
                    <img class="card-img-top" src="assets/images/topservice3.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Service</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-3 mb-3">
                <div class="card" style="width: 256px;">
                    <img class="card-img-top" src="assets/images/topservice4.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Service</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-4 row" style="margin-top: 67px !important;">
            <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol" style="border-right: 1px solid;">
                <h2 class="topServicehead">Free</h2>
                <p class="topServicePara">As registered users, we will never ask you to pay to use our service.To book
                    an
                    appointment you do need to be registered so the salon can take your information and confirm the
                    booking
                    at your favorite salon. </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol" style="border-right: 1px solid;">
                <h2 class="topServicehead">Search Results</h2>
                <p class="topServicePara">Don't get lost trying to find a salon for the first time. We have made it easy
                    by
                    integrating a map to show you exactly where the salon is.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol">
                <h2 class="topServicehead">Bookings</h2>
                <p class="topServicePara">Booking appointments at your favorite salon has never been simple. We
                    understand
                    that not everyone can get to a salon during opening hours because of children or work. With our
                    software, you can book an appointment 24/7. If the salon is closed, the salon owner will confirm
                    your
                    booking when they are Next open.</p>
            </div>
        </div>
        <div class="row m-4 row rowBtn">
            <button class="btn btn-primary createAcc" routerLink="/login">Create account</button>
        </div>
    </div>
</div>