<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-1 mb-md-0 mb-1">
      </div>
      <div class="col-md-2 mb-md-0 mb-2">
        <h4 class="footerHead">Our Company</h4>
        <ul class="list-unstyled">
          <li class="liItem" routerLink="/about-us">About Us</li>
          <li class="liItem" routerLink="/contact-us">Contact Us</li>
        </ul>
      </div>
      <div class="col-md-2 mb-md-0 mb-2">
        <h4 class="footerHead">For Customer</h4>
        <ul class="list-unstyled">
          <li class="liItem" routerLink="/service">Service</li>
        </ul>
      </div>
      <div class="col-md-2 mb-md-0 mb-2">
        <h4 class="footerHead">For Business</h4>
        <ul class="list-unstyled">
          <li class="liItem" routerLink="/features">Features</li>
        </ul>
      </div>
      <div class="col-md-2 mb-md-0 mb-2">
        <h4 class="footerHead">Legal</h4>
        <ul class="list-unstyled">
          <li class="liItem">Booking Terms</li>
          <li class="liItem">Privacy Policy</li>
          <li class="liItem">Website Terms</li>
        </ul>
      </div>
      <div class="col-md-2 mb-md-0 mb-2" style="display: flex;
      flex-direction: column;
      align-items: center;">
        <h4 class="footerHead">Our Free App</h4>
        <button class="button-download downloadApp">Download</button>
      </div>
      <div class="col-md-1 mb-md-0 mb-1">
      </div>
    </div>
  </div>
</footer>