<div class="container-fluid footerBg">
  <div class="row p-0 m-0">
    <div class="col-1 p-0 m-0">
    </div>
    <div class="col-2 p-0 m-0">
      <h4>Our Company</h4>
      <ul class="footer-ul">
        <li>About Us</li>
        <li>Contact Us</li>
      </ul>
    </div>
    <div class="col-2 p-0 m-0">
      <h4>For Customer</h4>
      <ul class="footer-ul">
        <li>Service</li>
      </ul>
    </div>
    <div class="col-2 p-0 m-0">
      <h4>For Business</h4>
      <ul class="footer-ul">
        <li>Features</li>
      </ul>
    </div>
    <div class="col-2 p-0 m-0">
      <h4>Legal</h4>
      <ul class="footer-ul">
        <li>Booking Terms</li>
        <li>Privacy Policy</li>
        <li>Website Terms</li>
      </ul>
    </div>
    <div class="col-2 p-0 m-0">
      <h4>Our Free App</h4>
      <button class="button-download downloadApp">Download</button>
    </div>
    <div class="col-1 p-0 m-0">
    </div>
  </div>

</div>
