button.btn.btn-primary.loginbtn {
  width: 40%;
  background: #004fcb;
  height: 53px;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 38px;
}
.needHelp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
h3.headText {
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #000000;
}
.form-control {
  height: 50px !important;
  border-radius: 6px !important;
}
.shadow.p-3.mb-3.bg-white.rounded {
  background: #e4e4e4 !important;
  margin-top: 16px;
  padding-top: 37px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 50px !important;
  border-radius: 6px !important;
}
.form-label {
  color: #000000 !important;
  line-height: 16px !important;
  font-size: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #007aff;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #d0e3f1;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.mb-3.toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
