button.btn.btn-primary.loginbtnCom {
  width: 40%;
  margin-top: 38px;
}
h3.headTextCom {
  margin-bottom: 38px;
}
.form-label {
  color: #000000 !important;
  line-height: 16px !important;
  font-size: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #007aff;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #d0e3f1;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.mb-3.toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.col-lg-7.col-md-7.col-sm-12.shadow.p-3.mb-3.bg-white.rounded.otp {
  text-align: center;
  margin-top: 37px;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
h3.OtpHead {
  font-weight: 700;
  font-size: 52px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #000000;
  margin-top: 22px;
}
p.otpLine {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.24px;
  color: #000000;
  margin-top: 32px;
}
p.optResend {
  font-weight: 500;
  font-size: 46px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.38px;
  color: #007aff;
  margin-top: 22px;
}
button.btn.btn-primary.confirmCom {
  width: 140px;
  height: 58px;
  margin-top: 22px;
  padding: 10px 20px;
}
