<!-- Heading Texts -->
<div class="container-fluid">
    <h1 class="headText">Contact Us</h1>
    <h1 class="headTextLine">We are here to answer your questions </h1>
</div>
<!-- Contact Boxex -->
<div class="container">
    <div class="row m-4">
        <div class="col-lg-5 col-md-5 col-sm-12 shadow p-3 mb-3 bg-white rounded" style="height: 462px;">
            <form [formGroup]="contactUsForm">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input type="text" class="form-control" id="email" formControlName="email">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="message">message </label>
                    <div class="input-group">
                        <textarea type="password" class="form-control" id="message"
                            formControlName="message"></textarea>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" (click)="sendContactInfo()">Send</button>
                    <div class="recaptcha">
                        <input class="checkboxRecaptcha" type="checkbox">
                        <label style="margin-left: 9px;
                margin-top: 13px;">I am human</label>
                        <img style="margin-top: 8px;
                margin-left: 4px;" src="assets/images/recaptcha.png">
                    </div>

                </div>
            </form>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12  p-lg-3 m-lg-4">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 shadow p-3 mb-5 bg-white rounded" style="height: 462px;">
            <div style="margin-top: 19%;">
                <p class="ptext">Salon Booking</p>
                <p class="ptext"><img src="assets/images/mail.png"> email@booking.com</p>
                <p class="ptext"><img src="assets/images/phone.png">(617) 1234 56789</p>
                <hr class="hrDivider">
                <div class="socialIcons">
                    <img src="assets/images/wifi.png">
                    <img src="assets/images/twitter.png">
                    <img src="assets/images/facebook.png">
                    <img src="assets/images/insta.png">
                </div>
            </div>
        </div>
    </div>
</div>