/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Actor";
  src: local("Actor"), url(./assets/fonts/Actor-Regular.ttf) format("truetype");
}

$font-family-sans-serif: "Montserrat", "Actor";

.ngx-otp-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ngx-otp-input {
  width: 69px !important;
  height: 69px !important;
  text-align: center;
  font-size: 1.25rem;
  background: #E4E4E4 !important;
  border: none !important;
}