/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Actor";
  src: local("Actor"), url(./assets/fonts/Actor-Regular.ttf) format("truetype");
}

$font-family-sans-serif: "Montserrat", "Actor";
//body {
//  font-family: Montserrat, sans-serif;
//}
//
//h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
//  font-family: Montserrat, sans-serif !important;
//}

.header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.25px;

  color: #FFFFFF !important;
}

h5 {
  /* H4 */

  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height, or 167% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.25px;

  /* white text */

  color: #FFFFFF;
}

.footer-ul {
  padding-left: 0px;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height, or 179% */
  color: #FFFFFF;
}

.form-label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  /* identical to box height, or 193% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.25px;

  /* Text */

  color: #312F2F;
}

.button-download {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;


  /* M3/sys/light/primary */

  background: #6750A4;
  border-radius: 100px;
}

/*.button-primary {*/
/*  font-family: Actor !important;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  padding: 10px 24px;*/
/*  background: #3066BE;*/
/*  border-radius: 100px;*/
/*}*/

.button-secondary {
  font-family: Actor !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  background: #FFFFFF;
  border-radius: 100px;
}

h2 {
  // font-family: Montserrat !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 48px !important;
  line-height: 65px !important;
  /* or 135% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.25px;

  color: #312F2F;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  /* identical to box height, or 139% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.25px;

  /* Dark Text */

  color: #312F2F;
}

label {
  font-family: Actor !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.025em;

  color: #000000;
}
button.transparent-button{
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 100px;
  width: 113px;
  height: 40px;
}
input {
  font-family: Actor !important;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

h4 {
  /* H4 */
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height, or 167% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.25px;
  /* white text */
  color: #312F2F;
}


a {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.025em;

  color: blue;
}

.header {
  // font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 40px;
  /* or 333% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.25px;

  color: #312F2F;
}

.bold {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;

  /* Dark Text */

  color: #312F2F;
}
