<div class="container-fluid firstContainer">
    <div class="container">
        <div class="row m-4 row">
            <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3 firstCol">
                <h1 class="colTextHead">Online Bookings Software for Salons </h1>
                <p class="colText">Powerful booking software for your business, it's totally subscription free!
                </p>
                <button class="btn btn-primary Register" routerLink="/login">Register</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3">
                <img class="colImg" src="assets/images/TabletCalander.png">
            </div>
        </div>
    </div>

</div>
<div class="container-fluid secondContainer">
    <div class="container">
        <div class="row m-4 row">
            <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3">
                <img class="colImgTwo" src="assets/images/mobileMockup.png">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3 fourthCol">
                <h1 class="colTextHeadTwo">Don't Miss Appointments From Customers Looking For A Salon</h1>
                <p class="colTextParaTwo">Free up your time to focus on what you do best, create your online profile and
                    be
                    discovered 24/7 on Fresha marketplace, Instagram, Facebook, Google and your own website
                </p>
            </div>
        </div>
        <div class="row m-4 row">
            <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol"
                style="border-right: 1px solid;border-bottom: 1px solid;">
                <h2 class="topServicehead">Schedule Appointments</h2>
                <p class="topServicePara">Booking is a clean, simple tool with powerful calendar scheduling features
                    that
                    can handle all your salon appointment bookings. </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol"
                style="border-right: 1px solid;border-bottom: 1px solid;">
                <h2 class="topServicehead">Manage your Clients</h2>
                <p class="topServicePara">Maintain client relationships with advanced salon software management features
                    with detailed client appointments history, booking preferences,
                    future bookings</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol" style="border-bottom: 1px solid;">
                <h2 class="topServicehead">Add Staff Roles</h2>
                <p class="topServicePara">Supercharge your appointment bookings by allowing customers to book
                    appointments
                    online through your own website,</p>
            </div>
        </div>
        <div class="row m-4 row" style="margin-top: -4% !important;">
            <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol" style="border-right: 1px solid;">
                <h2 class="topServicehead">Rent Out A Chair</h2>
                <p class="topServicePara">Need to rent out a spare chair at your salon you can advertise on our platform
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol" style="border-right: 1px solid;">
                <h2 class="topServicehead">Add Multiple Locations</h2>
                <p class="topServicePara">Do you have multiple locations on our platform? Add a new store for each of
                    your
                    locations</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 p-3 mb-3 topserviceCol">
                <h2 class="topServicehead">Email Notifications</h2>
                <p class="topServicePara">Every booking on our platform you will get a notification. Only accept the
                    appointments that
                    you would like. You have full control of your bookings</p>
            </div>
        </div>
        <div class="row m-4 row">
            <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3 "
                style="background-color: #D9D9D9;height: 463px !important;">
                <p class="comingText">Coming soon</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 p-3 mb-3 " style="margin-left: 72px;
            width: 43% !important;margin-top: 7%;">
                <p class="designTempP">Design your store with our store template. No coding need.</p>
                <h2 class="designTempHead">Store Design Template </h2>
                <ul style="list-style: none;padding-left: 0px;">
                    <li><img class="tickMarkImg" src="assets/Icons/tickmark.png">Pricing</li>
                    <li><img class="tickMarkImg" src="assets/Icons/tickmark.png">Special Offers </li>
                    <li><img class="tickMarkImg" src="assets/Icons/tickmark.png">Openoing times</li>
                    <li><img class="tickMarkImg" src="assets/Icons/tickmark.png">Let new customers contact you</li>
                    <li><img class="tickMarkImg" src="assets/Icons/tickmark.png">Start building a mailing list</li>
                </ul>
                <button class="btn btn-primary createAcc" routerLink="/login">Create account</button>
            </div>
        </div>
    </div>
</div>